.no-user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card-board {
  height: 100%;
  position: relative;
  z-index: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row {
  position: relative;
  flex-grow: 1;
}

.columns {
  white-space: nowrap;
  padding-bottom: 8px;
  margin-bottom: 8px;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: beige;
}

.column {
  width: 272px;
  margin: 0 4px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;

  background-color: rgb(252, 217, 217);
}

.card-container {
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
}


/* Drag and drop */
.invisible{
  /*  display: none; */
  opacity : 0;
  visibility: none;
  box-shadow: none;
}

.hold{
  background-color: transparent;
}

.hold > .card-container {
  transform: rotate(5deg);
}

.hovered{
  border: dashed 3px red;
}



.add-btn{
  width: 100%;
  height: 30px;
  background-color: tomato;
  cursor: pointer;
}

.text{
  padding: 10px 10px;
  width: 91%;
}